:root {
  /* Fontes */
  --font-primary: 'Roboto', Arial, sans-serif;
  --font-secondary: 'Open Sans', Helvetica, sans-serif;

  /* Cores principais */
  --mario-green: #01c255;
  --color-primary: #41a728;       /* cor principal, verde floresta claro */
  --color-secondary: #46275d;     /* cor secundária, roxo evangelion */
  
  /* Cores de destaque */
  --color-accent: #ac413f;        /* amarelo para realces e destaques */

  /* Cores de detalhe */
  --color-detail-light: #a8d56e;  /* cinza claro para bordas, sombras suaves */
  --color-detail-dark: #2e6e1e;   /* cinza escuro para textos secundários */

  /* Cores de fundo */
  --color-bg-light: #fafafa;      /* fundo claro */
  --color-bg-dark: #363650;       /* fundo escuro para temas noturnos */
  --user-input: #657557;

  /* Cores para texto */
  --color-text-primary: #a8d56e;  /* texto principal, quase preto */
  --color-text-secondary: #f6f0f0; /* texto secundário, cinza moderado */

  /* Outros */
  --border-radius: 36px;           /* bordas arredondadas padrão */
  --spacing-unit: 8px;            /* unidade base de espaçamento */

  /* Fonts */
    --font-headlines: 'Noto Sans JP', sans-serif;
}

* {
  border:  1px solid red;
  background-color: var(--color-mario-green);
}

header {
  border-radius: 36px;
}

header h1, h2, h3 {
  font-family: var(--font-headlines);
  font-size: 46px;
  text-align: center;
  justify-content: center;
  color: var(--color-text-primary);

}

navbar {
  display: flex;
  border-radius: var(--border-radius);
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: /*colocar so em ingles ou so em pt br*/
}

body {
  color: var(--color-text-secondary);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--color-bg-dark);

}

.garrafais {
  text-shadow: 0 5px 10px var(--color-detail-dark);
}

.container {
  height: 100vh;
  padding: 20px;
  background-color: var(--color-);
  border-radius: 36px;
  box-shadow: 0 0 10px var(--color-detail-light);
}

.search-container {
  display: flex;
  gap: 10px;
  align-items: center; /* alinha itens no eixo vertical */
  border-radius: 36px;
  text-align: center;
  justify-content: center;
  margin: 60px  
}

.test {
  text-transform: capitalize;
}

.user-input::placeholder {
  color: var(--color-detail-light);
  opacity: 0.8;

}

img {
  height: 200px;
  width: fit-content;
}

.resultado {
  display: flex;
  text-align: justify;
  justify-content: space-around;
}

button {
  text-align: center;
  justify-content: center;
  color: var(--color-detail-light);
  border-radius: 36px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  white-space: nowrap; 

}

