:root {
    --fundo: #381f4a;
    --bg-main: #46275d;
    --bg-alt: #714c91;
    --destaques: #98c75d;
    --luz: #98c75d;
    --produto: #41a728;
    --display: #df5f08;
}

* {
    background-color: var(--bg-main);
}

.container {
    height: 100vh;
    border: 1px solid red;
    border-radius: 15px;
    text-align: center;
}

.garrafais {
    text-align: center;
    justify-content: center;
    font-size: 55px;
    color: var(--destaques);
}

nav {
    border: 1px solid red;
    color: #98c75d;
    /* transformar numa sidebar */
}

.user-input {
    border: 1px solid rgb(7, 3, 3);
    border-radius: 26px;
    margin: 40px;
    padding: 8px;
    color: var(--display);
    font-size: 20px;
        text-align: center;
    justify-content: center;
}

.search {
    color:var(--luz);
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    justify-content: center;
}

ul, li {
    background-color: rgb(161, 223, 223);
    color: black;
}

.historico-produtos {
    border: 1px solid red;
}